<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationIdentifier</key>
	<string>MH9GU9K5PX.com.burbn.instagram</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.instagram.apprefresh</string>
		<string>com.instagram.appprocessing</string>
		<string>com.instagram.appprocessing.power_connected</string>
		<string>com.instagram.appprocessing.network_connected</string>
		<string>com.instagram.appprocessing.network_and_power_connected</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Instagram</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon</string>
				<string>Icon@2x</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Instagram Photo</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.instagram.gram</string>
				<string>public.jpeg</string>
				<string>public.png</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon</string>
				<string>Icon@2x</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Instagram Photo Exclusive</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.instagram.exclusivegram</string>
				<string>public.jpeg</string>
				<string>public.png</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Instagram</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>InstagramApp/icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Prod60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>Prod</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Prod60x60</string>
				<string>Prod76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>Prod</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.rhino.InstagramApp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0.0</string>
	<key>CFBundleName</key>
	<string>Instagram</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>187.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon</string>
			<key>CFBundleURLName</key>
			<string>com.burbn.instagram</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>instagram-stories</string>
				<string>fb124024574287414</string>
				<string>instagram</string>
				<string>instagram-auth</string>
				<string>instagram-capture</string>
				<string>fsq+kylm3gjcbtswk4rambrt4uyzq1dqcoc0n2hyjgcvbcbe54rj+post</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>289678855</string>
	<key>DTAppStoreToolsBuild</key>
	<string>12E262</string>
	<key>DTPlatformBuild</key>
	<string>18D46</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>14.4</string>
	<key>DTSDKBuild</key>
	<string>18D46</string>
	<key>DTSDKName</key>
	<string>iphoneos14.4</string>
	<key>DTXcode</key>
	<string>1240</string>
	<key>DTXcodeBuild</key>
	<string>12D4e</string>
	<key>FBAppVersion</key>
	<string>187.0.0.32.120</string>
	<key>FBBootstrapperReleaseChannel</key>
	<string></string>
	<key>FBBootstrapperReuseAccessToken</key>
	<true/>
	<key>FBBuildBranchName</key>
	<string>fbobjc/releases/release-igios-2021.05.10</string>
	<key>FBBuildNumber</key>
	<integer>289678855</integer>
	<key>FBBuildRevision</key>
	<string>d5b31b7c8baa6ef094f0507060a032d7b4e678d0</string>
	<key>FBBuildRevisionTime</key>
	<string>1620432852.025200</string>
	<key>FBBuildTime</key>
	<integer>1620440061</integer>
	<key>FBPlatformVersion</key>
	<string>187.0</string>
	<key>FacebookAppID</key>
	<string>124024574287414</string>
	<key>FacebookAutoInitEnabled</key>
	<false/>
	<key>FacebookAutoupdaterAppGroup</key>
	<string></string>
	<key>FacebookDisplayName</key>
	<string>Instagram</string>
	<key>FacebookLoggingAppID</key>
	<string>124024574287414</string>
	<key>FacebookNaggingAppID</key>
	<string>1464225827161561</string>
	<key>FacebookUrlSchemeSuffix</key>
	<string></string>
	<key>IGUserAgentName</key>
	<string>Instagram</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb-messenger-share-api</string>
		<string>instacam</string>
		<string>igtv</string>
		<string>fb-parties</string>
		<string>fb</string>
		<string>fbmaster</string>
		<string>fbrc</string>
		<string>hyperlapse</string>
		<string>boomerang</string>
		<string>instagram-layout</string>
		<string>org-appextension-feature-password-management</string>
		<string>fbapi</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger</string>
		<string>fb-messenger-family</string>
		<string>fb-messenger-api20140430</string>
		<string>fb-messenger-api</string>
		<string>fb-messenger-platform-20150305</string>
		<string>fbshareextension</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fb124024574287414master</string>
		<string>fb124024574287414rc</string>
		<string>whatsapp</string>
		<string>comgooglemaps</string>
		<string>googleauthenticator</string>
		<string>duo</string>
		<string>twitter</string>
		<string>tg</string>
		<string>line</string>
		<string>vk</string>
		<string>instagram-threads</string>
		<string>igtv</string>
		<string>collab</string>
		<string>googlegmail</string>
		<string>ymail</string>
		<string>ms-outlook</string>
		<string>readdle-spark</string>
		<string>bolt</string>
		<string>boomerang-from-fb</string>
		<string>bualuangmbanking</string>
		<string>dhits</string>
		<string>facebook-stories</string>
		<string>fb-ama</string>
		<string>fb-broadcastextension</string>
		<string>fb-biz</string>
		<string>fb-cs</string>
		<string>fb-event-create</string>
		<string>fb-events-share</string>
		<string>fb-groups</string>
		<string>fb-messenger-cw</string>
		<string>fb-messenger-diode</string>
		<string>fb-messenger-group-thread</string>
		<string>fb-messenger-lite</string>
		<string>fb-messenger-mk-share-20180821</string>
		<string>fb-messenger-nbf</string>
		<string>fb-messenger-neue</string>
		<string>fb-messenger-quicksilver-20170327</string>
		<string>fb-messenger-share</string>
		<string>fb-messenger-sls</string>
		<string>fb-messenger-voip</string>
		<string>fb-page-messages</string>
		<string>fb-paper</string>
		<string>fb-pma-diode</string>
		<string>fb-pma</string>
		<string>fb-quicksilver-20170322</string>
		<string>fb-workchat</string>
		<string>fb124024574287414</string>
		<string>fb124024574287414master</string>
		<string>fb124024574287414rc</string>
		<string>fb165907476854626</string>
		<string>fb1684881658397460</string>
		<string>fb255620677933453</string>
		<string>fb285162308271788</string>
		<string>fb409199225886416-creative-platform</string>
		<string>fb409955719081235</string>
		<string>fb487053901437054-creative-platform</string>
		<string>fbatwork</string>
		<string>fblite</string>
		<string>fbmentions</string>
		<string>fbplatdialog</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>itms-apps</string>
		<string>kbank.kplus</string>
		<string>krungsri-kma</string>
		<string>ktbnext</string>
		<string>lasso</string>
		<string>lyft</string>
		<string>moments</string>
		<string>music</string>
		<string>notify</string>
		<string>novi</string>
		<string>oculus.store</string>
		<string>otpauth</string>
		<string>rooms</string>
		<string>scbeasyembedded</string>
		<string>slingshot</string>
		<string>socal</string>
		<string>soundcloud</string>
		<string>spotify</string>
		<string>tango</string>
		<string>tbh</string>
		<string>uber</string>
		<string>waze</string>
		<string>webviewprogressproxy</string>
		<string>http</string>
		<string>https</string>
		<string>b612</string>
		<string>b612-openfbstory</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>MinimumOSVersion</key>
	<string>12.0</string>
	<key>NSAdvertisingAttributionReportEndpoint</key>
	<string>https://facebook.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>cdninstagram.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSV1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>help.instagram.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSV1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
			</dict>
			<key>instagram.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSV1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>This will let Instagram sync events to your calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>This lets you take photos and record video.</string>
	<key>NSContactsUsageDescription</key>
	<string>This helps you and others find friends and more. Your contacts will be synced and securely stored on Instagram's servers.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enable Face ID for quick and secure authentication on Instagram.</string>
	<key>NSLocationUsageDescription</key>
	<string>Instagram uses this to make some features work, personalize content, help people find places and more. You can always change this later in your phone’s settings.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Instagram uses this to make some features work, personalize content, help people find places and more. You can always change this later in your phone’s settings.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This lets you record videos with sound.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This lets you save photos and videos to your Camera Roll.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This lets you share from your camera roll, and enables other features for photos and videos.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.burbn.instagram.main</string>
		<string>com.burbn.instagram.feed.timeline</string>
		<string>com.burbn.instagram.feed.popular</string>
		<string>com.burbn.instagram.post</string>
		<string>com.burbn.instagram.comment</string>
		<string>com.burbn.instagram.likes</string>
		<string>com.burbn.instagram.news</string>
		<string>com.burbn.instagram.profile</string>
		<string>INSendMessageIntent</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>This allows Instagram to provide you with a better ads experience.</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>n38lu8286q.skadnetwork</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>AvenyT_Regular.otf</string>
		<string>AvenyT_Medium.otf</string>
		<string>CosmopolitanScript-Regular.otf</string>
		<string>FBDisplay-Light.ttf</string>
		<string>FBWordmark-Regular.ttf</string>
		<string>FacebookNarrow_A_Rg.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>IGLaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.jpeg</string>
				<string>public.png</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Instagram Photo</string>
			<key>UTTypeIdentifier</key>
			<string>com.instagram.gram</string>
			<key>UTTypeSize320IconFile</key>
			<string>Icon@2x</string>
			<key>UTTypeSize64IconFile</key>
			<string>Icon</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ig</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.jpeg</string>
				<string>public.png</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Instagram Photo Exclusive</string>
			<key>UTTypeIdentifier</key>
			<string>com.instagram.exclusivegram</string>
			<key>UTTypeSize320IconFile</key>
			<string>Icon@2x</string>
			<key>UTTypeSize64IconFile</key>
			<string>Icon</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>igo</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
